.foot {
  border: 1px solid transparent;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  // width: 100%;
  display: flex;
  justify-content: space-around;
  img {
    width: 10rem;
  }
}

@media only screen and (max-width: 1024px) {
  .foot {
    width: 100%;
    
    img {
      width: 7rem;
    }
  }
}
