button {
  font-family: "Red Rose", cursive;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: white;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border-radius: 10px;
  width: 170px;
  height: 48px;
  overflow-y: hidden;
  scroll-behavior: none;
  overflow-y: hidden;

  
}
